# Virtual env
.venv*/
venv/

# Python
__pycache__/


# Build
build/
build_venv/
build-*/
dist/
test_venv/
# Temp
temp_uploads/

# OS
.DS_Store
Thumbs.db
app-winnerz.py
app.py
fix_wrapper.py
patch_wrapper.py
stext-device.c
compare_fitz_cpp.md
production.py
diff.patch
#ignore
winnerz/*.so
pymupdf/
test_speed.py
test_speed.prof
profile_winnerz.py
compare.py
run_compare.py
replace_maps.py
prof.out
dummy.pdf
server_fitz.py
do_rename.py
backup-logic.js
sdk.py
draft.py
perfect.py
cpdf_pagecontentgenerator.cpp
old_init.py
old_wrapper.cpp
README.old
a.py
win.py
backup-translation.py
old-version-pdf-engine.cpp
cc.py
experiment.py
*.so
*.pyd
*.dylib
test.py
mupdf-master/
test_wasm.html
wasm.sh
harfbuzz-8.3.0.tar.gz
libjpeg-turbo-3.0.3.tar.gz
Little-CMS-lcms2.19.1.tar.gz
math.py
bak/
pdfium.dll*